@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}


/* Estilo del header */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header{
    width: 100vw;
    height: 15vh;
}

nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    list-style-type: none;
}

nav{
    width:35%;
}

nav ul li a{
    color: #242E52;
    text-decoration: none;
}

/*Clase que vamos a usar en todos los botones*/
.boton{
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border:none;
    background-color:#8B48BF ;
    color:#FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* menu desplegable bars para versión mobile*/
#hamburguesa{
    display:none;
}

/*Empieza el estilo del main*/

.sect {
    width: 100vw;
    height: 85vh;
    margin-bottom: 5%;
    
}

.flex-m {
    display: flex;
    justify-content: center;
}


.flex-c {
    display: flex;
    flex-direction: column;
}

.sec-doble {
    width: 40%;
    height: 85%;
    margin-top: 3%;
}
.imag-porc {
    height: 75%;

}
h1 {
    color: #232C50;
    font-size: 58px;
    font-weight: 700;
    width: 90%;
    margin-bottom: 10px;
}

.texto {
    font-size: 16.56px;
    font-weight: 500;
    margin-bottom: 25px;
    width: 65%;
}

/*comienza el estilo de la segunda sección de la página*/

.titulo-2 {
    color:#232851;
    font-size: 36px;
    font-weight: 700;
    width: 70%
}

.flex-lista {
    display: flex;
    align-items: center;
    margin-top:6%;
    height: 10%;
}

.num-lista {
    color: white;
    background-color: #8B48BF;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    padding: 5px 15px;
    margin-right: 20px;
}

.titulo-list {
    font-size: 16px;
    color: #323851;
    font-weight: 700;
}

.text-list {
    font-size: 16.3px;
    font-weight: 500;
    color: #B3B2B7;
    margin-left: 12.5%;
    line-height: 25px;
    width: 82%;
}

/*Comienza el estilo de la sección de las cards */

.center {
    align-items: center;
    
}

.titulo-3 {
    color: #242E53;
    font-size: 39px;
    font-weight: 700;
}

.card {
    background-color: #FAFAFA;
    width: 30%;
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.img-card {
    position:absolute;
    bottom: 85%;
}

.name-card {
    color:#242E53;
    font-size: 16.07px;
    font-weight: 700;
    margin-top: 14%;
}

.text-card {
    text-align:center;
    color: #B9B9C1;
    font-weight: 600;
    width: 92%;
}

/*Comienzo de estilo de ultima sección antes del footer */
.flex-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#last-sec {
    width: 100%;
    height: 30vh;
    background-color: #8B48BF;
}

#titulo-claro {
    color:white;
    font-size: 40px;
    width: 40%;
    font-weight: 700;
    
}

#boton-claro {
    background-color: white;
    color:#8B48BF;
}

/*Comienza el estilo del footer. Lord have mercy*/

#foot{
    background-color: #1E1E26;
    width: 100%;
    height: 30vh;
    justify-content: center;
}

.foot-div{
    justify-content: space-around;
    height: 80%;

}

.margin-r {
    margin-right: 10%; 
    /*Lo uso para separar los divs dentro del footer.
    Cuando haga el mobile voy a tener que sacarlo */
}

.links {
    margin: 5%;
}

#nav-foot {
    width: 30%;
    justify-content: space-between;
}

div ul {
    list-style-type: none;
}

div ul li {
    margin-bottom: 20%;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


#mail {
    border-radius: 50px;
    height: 44px;
    width: 200px;
}

#boton-form{

    width: 63px;
    height: 42px;
}

.copyr {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin-left: 15%
}

/*pseudoclases */

a:hover {
    opacity: 60%;
}

.boton:hover {
    opacity: 70%;
}

#boton-claro:active , .boton:active {
    background-color: #242E52;
}
