@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/*Estilos generales*/

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.flex-c {
    display: flex;
    flex-direction: column;
}


/*Clase que vamos a usar en todos los botones*/
.boton{
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border:none;
    background-color:#8B48BF ;
    color:#FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* Estilo del header */


header{
    width: 100vw;
    height: 15vh;
}

nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    list-style-type: none;
}

nav{
    width:35%;
}

nav ul li a{
    color: #242E52;
    text-decoration: none;
}



/* menu desplegable bars para versión mobile*/
#hamburguesa{
    display:none;
}

/*Empieza el estilo del main*/

.sect {
    width: 100vw;
    height: 85vh;
    margin-bottom: 5%;
    
}

.flex-m {
    display: flex;
    justify-content: center;
}


.sec-doble {
    width: 40%;
    height: 85%;
    margin-top: 3%;
}
#imag-porc {
    height: 75%;

}
h1 {
    color: #232C50;
    font-size: 58px;
    font-weight: 700;
    width: 90%;
    margin-bottom: 10px;
}

.texto {
    font-size: 16.56px;
    font-weight: 500;
    margin-bottom: 25px;
    width: 65%;
}

/*comienza el estilo de la segunda sección de la página*/

.titulo-2 {
    color:#232851;
    font-size: 36px;
    font-weight: 700;
    width: 70%
}



.num-lista {
    color: white;
    background-color: #8B48BF;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    padding: 5px 15px;
    margin-right: 20px;
}

.titulo-list {
    font-size: 16px;
    color: #323851;
    font-weight: 700;
    margin-bottom: 17px;
}

.text-list {
    font-size: 16.3px;
    font-weight: 500;
    color: #B3B2B7;
    margin-left: 15%;
    line-height: 25px;
    width: 82%;
}

/*Numeros de la lista con before por el mobile*/
#title-1-list::before {
    content: "01";
    color: white;
    background-color: #8B48BF;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    padding: 10px 25px;
    margin-right: 15px;
}

#title-2-list::before {
    content: "02";
    color: white;
    background-color: #8B48BF;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    padding: 10px 25px;
    margin-right: 15px;
}

#title-3-list::before {
    content: "03";
    color: white;
    background-color: #8B48BF;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    padding: 10px 25px;
    margin-right: 15px;
}



/*Comienza el estilo de la sección de las cards */

.center {
    align-items: center;
    
}

.titulo-3 {
    color: #242E53;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 50px;
}

.card {
    background-color: #FAFAFA;
    width: 30%;
    height: 60%;
    margin-top: 65px;
    margin-bottom: 65px;
    position: relative;
}

.img-card {
    position:absolute;
    bottom: 85%;
}

.name-card {
    color:#242E53;
    font-size: 16.07px;
    font-weight: 700;
    margin-top: 65px;
}

.text-card {
    text-align:center;
    color: #B9B9C1;
    font-weight: 600;
    width: 92%;
}

/*Comienzo de estilo de ultima sección antes del footer */



#last-sec {
    width: 100%;
    height: 30vh;
    background-color: #8B48BF;
}

#titulo-claro {
    color:white;
    font-size: 40px;
    width: 40%;
    font-weight: 700;
    
}

#boton-claro {
    background-color: white;
    color:#8B48BF;
}

/*Comienza el estilo del footer. Lord have mercy*/

#foot{
    background-color: #1E1E26;
    width: 100%;
    height: 30vh;
    justify-content: center;
}

.foot-div{
    justify-content: space-around;
    height: 80%;

}

.margin-r {
    margin-right: 10%; 
    /*Lo uso para separar los divs dentro del footer.
    Cuando haga el mobile voy a tener que sacarlo */
}

.links {
    margin: 5%;
}

#nav-foot {
    width: 30%;
    justify-content: space-between;
}

div ul {
    list-style-type: none;
}

div ul li {
    margin-bottom: 20%;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


#mail {
    border-radius: 50px;
    height: 44px;
    width: 200px;
}

#boton-form{

    width: 63px;
    height: 42px;
}

.copyr {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin-left: 15%
}

/*pseudoselectores y animaciones*/

a:hover {
    opacity: 60%;
    cursor: pointer;
}

.boton:hover {
    opacity: 70%;
    cursor: pointer;
}

.boton:active {
    transform:scale(0.9);
}

input:valid {
    border:4px solid rgb(40, 150, 45);
}


/*Empezamos con el mobile */

@media (max-width: 481px){
    /*Comenzamos con el header*/
    
    nav{
        display:none;
    }
    header .boton {
        display:none;
    }
    #hamburguesa{
        display:block;
        margin-right: 30px;
    }
    .flex{
        justify-content: space-between;
    }
    #logo-top {
        margin-left: 30px;
    }
    /*Ahora estilo del main */
    .revers {
        flex-direction: column-reverse;
        align-items: center;
        justify-items: flex-start;
    }
    #imag-porc {
        width:90%;
        height: 40%;
        margin-top: 0;
    }
    /*No se porque no puedo hacer que la imagen se pegue al header*/
    .sect {
        height: 120vh;
        width: 100vw;
        justify-content: flex-start;
    }
    .sec-doble {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 50%;
    }
    h1{
        width: 100%;
        text-align: center;
    }


    /*Comenzamos con la sección de la lista */

    .sec-mob {
        height: 20%;
        justify-content: flex-start;
    }

    #list-mob {
        height: 130vh;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .column-mob {
        flex-direction: column;
        align-items: center;
    }
    .titulo-2 {
        width: 100%;
        text-align:center;
    }
    .texto {
        width: 80%;
    }

    .titulo-list {
        background-color: rgba(139, 72, 191, 0.3);
        margin-left:40px;
        border-radius: 20px 0 0px 20px;
        height: 40px;
        padding-top: 10px;
    }

    .text-list {
        margin-left: 50px;
    }

    /*Sección de las cards */
    #cards-mob {
        height: 90vh;
    }



}
